<br/>
<div class="hide-on-small-only">
    <div class="row valign-wrapper">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <p class="valign" style="float:left">&copy; @DateTime.Now.Year - Newcastle University</p>
        </div>
        <div class="col-md-4">
            <span class="valign-wrapper" style="float:right" >
                <a href='https://itunes.apple.com/us/app/ourplace/id1378985779?ls=1&mt=8'>
                    <img alt='Get it on the App Store' src='~/Content/img/icons/appStore.svg' height="50" style="padding-right:8px;" />
                </a>
                <br />
                <a href='https://play.google.com/store/apps/details?id=com.park.learn&utm_source=Website-GettingStarted&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='Get it on Google Play' src='~/Content/img/icons/googlePlayBadge.png' height="50">
                </a>
            </span>
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="hide-on-med-and-up">
    <div class="row center" style="margin-bottom: 0px;">
        <div class="col-sm-12">
            <a href='https://itunes.apple.com/us/app/ourplace/id1378985779?ls=1&mt=8'>
                <img alt='Get it on the App Store' src='~/Content/img/icons/appStore.svg' width="155" />
            </a>
            <br />
            <a href='https://play.google.com/store/apps/details?id=com.park.learn&utm_source=Website-GettingStarted&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img alt='Get it on Google Play' src='~/Content/img/icons/googlePlayBadge.png' width="155" style="padding-top:5px;">
            </a>
        </div>
    </div>
    <div class="row center" style="margin-bottom: 0px; padding-top:8px;">
        <div class="col-sm-12">
            <p>&copy; @DateTime.Now.Year - Newcastle University</p>
        </div>
    </div>
</div>