@helper HelperName(string name)
    {
        // your helper can contain code and/or markup, e.g.
        // var msg = "Hello " + name;
        // <p>@msg</p>
        // For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}

@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="privacy">

    <h2>Your Privacy with OurPlace</h2>

    <p>Your privacy is important to us and we believe you should always know what data we collect from you and the ways in which we use it. Our aim is to give you meaningful control and empower you to make the best decisions about the information you share with us.</p>
    <p><strong>Here are some key points from the policy, but please read the full document:</strong></p>

    <h3>Key Points Regarding Social Media Accounts</h3>
    <ul>
        <li>OurPlace uses other social media services to authenticate user accounts through a secure process called OAuth. This lets our users create and sign into accounts, without needing to think up and remember yet another password. It also means you don't have to trust us with keeping any passwords safe, as we never receive one. You just sign in with a service you likely already have an account for. This makes things easier and more secure for both of us.</li>
        <li>When you authenticate through these social media services, we receive some personal information. We simply store your name, date of birth, a link to your profile picture and your email address.</li>
        <li>We need an email address to be able to identify you across services. If, for example, you signed into OurPlace with a Google account and then the next week signed in using Facebook, we could see that you're the same person thanks to the matching email address. The other basic profile information is used to personalise your OurPlace experience and help us keep track of how the service is being used.</li>
        <li>We don't have access to your social media friends lists, and we can't and won't post things on your behalf.</li>
        <li>Your social media service will not be given any details about your usage of OurPlace, other than the fact that you use the application.</li>
    </ul>

    <h3 id="key-points">Other Important Points</h3>
    <ul>
        <li>OurPlace is a public service and any Activities you post as 'public' are available instantly to anyone around the world.</li>
        <li>OurPlace has been developed at Open Lab, Newcastle University as a research project. Any information we collect from you will be stored securely in the <strong>EU</strong> and may be subject to processing. We often publish findings based on user activity, these publications will never contain information or data that could be used to identify you as an individual.</li>
        <li>If you grant the OurPlace app permission to access your location, we receive and securely store that location when you search for new Activities. This lets us see where the application is being used.</li>
        <li>If you have any questions about this policy, how we collect or process your personal data or anything else related to our privacy practices, you can contact us at any time.</li>
        <li>OurPlace may share personal data with businesses outside of the EU in order to provide a better service. OurPlace and its data is hosted on <a href="https://azure.microsoft.com">Microsoft Azure</a> and uses <a href="https://sendgrid.com/">SendGrid</a> to distribute emails.</li>
        <li>OurPlace complies with GDPR and any external services that are not based in the EU comply with the EU-US Privacy Shield Frameworks as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal data from the EU and Switzerland. For more information about the Privacy Shield generally, and to view the certificates online, please visit <a href="https://www.privacyshield.gov">https://www.privacyshield.gov</a>.</li>
    </ul>

    <br />

    <h2 id="full-privacy-policy">Full Privacy Policy</h2>
    <p>Please read this privacy policy carefully before using the services offered by Open Lab, University of Newcastle Upon Tyne (“Open Lab, Newcastle University”, &quot;Open Lab, University of Newcastle Upon Tyne&quot;, “we”, “us”). We recognise the importance of your privacy. Therefore, we have created this Privacy Policy so that you know how we use and disclose your information when you make it available to us. This Privacy Policy applies solely to information collected through the OurPlace website and mobile applications ("Site"). By using or accessing the Site, you signify your agreement to be bound by our Privacy Policy.</p>
    <p><strong>IF YOU DO NOT AGREE TO THIS PRIVACY POLICY YOU MAY NOT ACCESS OR OTHERWISE USE OUR SITE.</strong></p>
    <h3 id="personal-information-that-we-collect-">Personal Information that we collect:</h3>
    <p>We collect some personal information from you when you use our services such as your IP host address. If you register you may be asked to voluntarily provide additional information to us, such as your email address, name and a public profile which we use to keep your account secure and improve the experience for yourself and other users. When using the OAuth sign-in procedure, this will involve us communicating with a third party social media service with whom you already have an account. Through this process we may store your email address, date of birth, name and social media profile picture to identify you across different login sessions, improve your user experience with the Site and help us track how it is being used.</p>
    <h3 id="non-personal-or-aggregate-information-that-we-collect-">Non-personal or Aggregate Information that we collect:</h3>
    <p>We may collect non-personally identifiable information, such as pages viewed, browser type, duration and frequency of visits or other data, and may aggregate any information collected in a manner which does not identify any individual (“Aggregate Information”). Aggregate Information obtained in connection with the Site may be intermingled with and used by us in conjunction with information obtained through sources other than the Site, including both offline and online sources. Aggregate Information may be shared by us with third parties by allowing them to link to and collect data from the Site. This data will be used for their benefit and for ours, for marketing advertising or other purposes, including analysis of the Site for purposes of improving your experience with the Site and academic publication.</p>
    <h3 id="clickstream-">Clickstream:</h3>
    <p>As you use the Internet, a trail of electronic information is left at each website you visit. This information, which is sometimes referred to as “clickstream data,” can be collected and stored by a website’s server. Clickstream data can tell us the type of computer and browsing software you use and the address of the website from which you linked to the Site. We may collect and use clickstream data as a form of Aggregate Information to anonymously determine how much time visitors spend on each page of our Site, how visitors navigate throughout the Site and how we may tailor our web pages to better meet the needs of visitors. This information will be used to improve our Site and our services. Any collection or use of clickstream data will be anonymous and aggregated, and will not intentionally contain any personal information. We may also use this aggregated data in order to conduct academic research studies. As a result of these academic research studies we may publish the anonymous aggregated data we have outlined.</p>
    <h3 id="information-usage-">Information Usage:</h3>
    <p>We will only use your personal information as described below, unless you have specifically consented to another type of use, either at the time the personal information is collected from you or through some other form of consent from you or notification to you. We may use your personal information as follows: (i) to respond to your inquires or requests; (ii) to send you emails and newsletters from time to time with information about our Site; (iii) to share with our partners, by allowing them to link to and collect your information from the Site; (iv) we may permit our vendors and subcontractors to access your personal information, but they are only permitted to do so in connection with performing services for us; (v) we may disclose personal information as required by law or legal process; (vi) to investigate suspected fraud, harassment or other violations of any law, rule or regulation, or the terms or policies for our services or our sponsors and (vii) we may transfer your personal information in connection with the sale or merger or change of control of the services.</p>
    <h3 id="cookies-">Cookies:</h3>
    <p>Our Site may pass a “cookie” (a string of information that is sent by a website to reside on your system’s hard drive and/or temporarily in your computer&#39;s memory blocks) or similar items, such as web beacons, gifs, and tags. The purpose of a cookie is to tell the web server that you have returned to a particular page. You may set your browser to decline cookies. If you do so, however, you may not be able to fully experience some features of the Site. Additionally, we may include small graphic images in our email messages and newsletters to you in order to determine whether these messages were opened and whether any links contained in these messages were viewed.</p>
    <h3 id="security-">Security:</h3>
    <p>We will ensure that we put in place and will maintain appropriate technical and organisational measures to safeguard any personal information submitted onto the Site. However, you acknowledge that due to the inherent open nature of the Internet, no transmission via the Internet can be guaranteed to be 100% secure. As a result of this and other factors beyond our control, we cannot guarantee the security of the information that you transmit to or through our Site. Therefore, you assume that risk by using the Site.</p>
    <h3 id="your-disclosure-on-the-site-and-in-social-media-">Your Disclosure on the Site and in Social Media:</h3>
    <p>You should be aware that any information that you submit to any portion of the Site that is viewable by the public, such a publicly accessible blog, chat room, social media platform or otherwise online may be viewed and used by others without any restrictions. We are unable to control such uses of your personal information, and by using such services you assume the risk that the personal information provided by you may be viewed and used by third parties for any number of purposes.</p>
    <h3 id="protection-for-children-">Protection for Children:</h3>
    <p>We do not collect personal information from children under the age of 13 years old. When we become aware that personal information from a child under 13 years old has been collected without such child’s parent or guardian’s consent, we will use all reasonable efforts to delete such information from our database. We encourage parents to monitor the online activities of their children to ensure that no information is collected from a child without parental permission.</p>
    <h3 id="other-sites-and-applications-">Other Sites and Applications:</h3>
    <p>As a convenience to you, we may provide links to third-party sites from within our Site. We are not responsible for the privacy practices or content of any third parties or third-party sites. We encourage you to review these privacy policies to ensure that you are familiar with their terms.</p>
    <p>If you use any extra plug-ins or third party applications (“Applications”) in connection with the Site, the provider(s) of these Applications may obtain access to certain personal information about you. We do not and cannot control how the providers of Applications may use any personal information collected in connected with such Applications. Please be sure to review any privacy policies or other terms applicable to your use of these Applications prior to installation.</p>
    <h3 id="changes-to-this-privacy-policy-">Changes to this Privacy Policy:</h3>
    <p>We reserve the right, at our discretion, to change, modify, add, or remove portions from this Privacy Policy at any time. Your continued use of the Site following the posting of any changes to this Privacy Policy means you accept and consent to such changes.</p>
    <h3 id="opt-out-process-">Opt-Out Process:</h3>
    <p>If you do not want to receive email communications (including email digests) from us in the future, please send an email to us at openlab-admin@newcastle.ac.uk requesting to be removed from our mailing list. You will also have the option of clicking on a link included in email correspondence you receive from us in order to remove yourself from our mailing list.</p>
    <p>If you do not want to want to receive our newsletters in the future, please send an email to us at openlab-admin@newcastle.ac.uk requesting to be removed from our mailing list. You will also have the option of clicking on a link included in the newsletters you receive from us in order to remove yourself from our mailing list.</p>
    <p>We are not, however, responsible for removing your personal information from the lists of any third party who has previously been provided your information in accordance with this Privacy Policy or your consent, such as a sponsor. You should contact such third parties directly if you wish to have your personal information removed from their lists.</p>
    <h3 id="communications-with-us-">Communications with Us:</h3>
    <p>By providing your email address to us, you expressly consent to receive emails from us. We may use email to communicate with you, to send information that you have requested or to send information about other products or services developed or provided by us or our business partners, provided that, we will not give your email address to another party to promote their products or services directly to you without your consent or as set forth in this policy.</p>
    <p>Any communication or material you transmit to us by email or otherwise, including any data, questions, comments, suggestions, or the like is, and will be treated as, nonconfidential and nonproprietary. Furthermore, you expressly agree that we are free to use any ideas, concepts, know-how, or techniques contained in any communication you send to us without compensation and for any purpose whatsoever, including but not limited to, developing, manufacturing and marketing products and services using such information.</p>
    <h3 id="site-terms-of-use-">Site Terms of Use:</h3>
    <p>Use of this Site is governed by, and subject to, the Terms of Use contained at <a href="https://ourplace.app/terms">https://ourplace.app/terms</a>. This Privacy Policy is incorporated into such terms. Your use, or access, of the Site constitutes your agreement to be bound by these provisions.</p>
    <p><strong>IF YOU DO NOT AGREE TO THESE TERMS OF USE YOU MAY NOT ACCESS OR OTHERWISE USE THE SITE.</strong></p>
    <p>Transfers of Personal Data Outside the EEA: The personal data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area (&quot;EEA&quot;). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</p>
    <h3 id="contact-information-">Contact Information:</h3>
    <p>Should you have any questions, contact us:</p>
    <p><strong>Address</strong>:<br>Open Lab<br>Floor 1<br>Urban Sciences Building<br>1 Science Square<br>Science Central<br>Newcastle Upon Tyne<br>NE4 5TG  </p>
    <p><strong>Phone</strong>: +44 191 20  84642 | 84630<br><strong>Email</strong>: openlab-admin@newcastle.ac.uk  </p>
    <h3 id="effective-date-">Effective Date:</h3>
    <p>May 25, 2018</p>
</div>